@import url("https://fonts.googleapis.com/css?familyMontserrat");

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.logo {
    margin-left: 73px;
    width: 100px;
}

.account {
    display: flex;
    align-self: center;
    margin-right: 24px;
}

.account span {
    align-self: center;
    margin-right: 18px;
}

.account img {
    margin-right: 10px;
}

.table-header {
    margin-top: 86px;
    margin-left: 73px;
}

.table {
    margin-top: 70px;
    margin-left: 73px;
}

.title-profile {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
}

.your-balance {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

.line {
    height: 1px;
    width: 563px;
    background: #000000;
}

.table-head {
    display: flex;
    width: 563px;
    margin: 7px;

}

.table-head span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.some-food {
    display: flex;
}

span.table-price {
    width: 195px;
}

.table-name-1 {
    width: 240px;
}
